@import "styles/variables";

.form {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  padding: 20px 16px;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 50px;
  height: fit-content;

  @media #{$screen-desktop} {
    position: static;
  }

  @media #{$screen-mobile} {
    min-width: unset;
  }

  &.modalType {
    box-shadow: unset;
    margin-top: 20px;
  }

  &-block {
    margin-bottom: 16px;
  }

  &__button {
    padding: 14px;
    border-radius: 4px;
    background: #1493FE;
    text-transform: uppercase;
    color: #fff;
    border: unset;
    font-weight: 700;

    &:disabled {
      background: #C2CBD1;
    }
  }
}