@import "styles/variables";

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;

  &.active {
    opacity: 1;
    pointer-events: all;
  }


  &__content {
    position: relative;
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    transform: scale(0.5);
    transition: 0.4s all;
    width: 100%;
    max-width: 300px;

    @media #{$screen-tablet} {
      width: 100%;

    }

    .cross {
      z-index: 1;
      position: absolute;
      top: 20px;
      right: 20px;
      color: grey;
      cursor: pointer;
    }

    &.active {
      transform: scale(1);
    }
  }
}