body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.container {
  font-size: 12px;
  padding: 50px;
  max-width: 1000px;
  margin: 0 auto;

  @media screen and (max-width: 480px) {
    padding: 20px;
  }
}

.block {
  position: relative;
  display: flex;

  @media screen and (max-width: 1024px) {
    flex-direction: column-reverse;
  }

  & > div {
    margin-right: 50px;

    @media screen and (max-width: 1024px) {
      margin-right: 0;
    }
  }
}